.vdb-home {
  text-align: center;
  padding: 3em;
  p {
    color: $gray;
    font-weight: 300;
    line-height: 1.8;
    margin: 0;
    display: inline-block;
    position: relative;
  }
  @media screen and (max-width: $s-point) {
    padding: 1em;
    background: url(../img/vdb-home_select-line.jpg) 15px 15px no-repeat;
    background-size: 180px;
  }
}

@media screen and (max-width: $s-point) {
  .vdb-home_phone {
    display: none;
  }
}


.vdb-home_wrap {
  animation: scaleUp 1s ease;
}

.vdb-home_title {
  color: $brand;
  font-size: 1.7em;
  font-weight: 300;
  margin: .6em 0 .2em;
  max-width: 350px;
  margin: 0 auto;
  background: url(../img/vdb-home_phone.jpg) center top no-repeat;
  background-size: 130px;
  padding-top: 11rem;
  @media screen and (max-width: $s-point) {
    font-size: 1.4em;
    max-width: 17rem;
    margin-top: 4rem;
    padding-top: 5rem;
    background: url(../img/voudeonibus.png) center 0 no-repeat;
    background-size: 120px;
  }
}

.vdb-home_p {
  margin: 1em 0 0;
  img, p {
    display: inline-block;
  }
  img {
    position: relative;
    top: 3px;
    left: -5px;
    width: 18px;
  }
}

.vdb-home_social {
  margin-top: 1em;
  p {
    top: -4px;
    margin-right: .5em;
    font-weight: bold;
  }
  iframe {
     border: 0;
     width: 80px;
  }
  .star {
    width: 53px;
  }
}

.vdb-home_support {
  font-size: .7em;
  text-transform: uppercase;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  animation: slideDown 1s ease;
  @media screen and (max-width: $s-point) {
    position: static;
    margin-top: 2rem;
  }
  img {
    width: 120px;
    margin-left: 1em;
  }
  img, p {
    display: inline-block;
  }
}
