.vdb-search-box {
  position: relative;
  input[type="text"] {
    width: 100%;
    height: 2.7em;
    display: block;

    border: 0;
    padding: 0 0 0 2.7em;
    background: white;
    -webkit-appearance: none;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    outline: 0;
    border-radius: .2em;

    line-height: 2.9em;
    font-size: 16px;
    color: #727272;
  }
  &:before {
    content: "";
    display: block;
    width: .9em;
    height: .9em;
    background: url(../img/search-icon.svg) center/cover no-repeat;

    position: absolute;
    left: 1em;
    top: 1em;
  }
}
