.vdb-header {
  height: $top-height;
  position: relative;
}

.vdb-title {
  display: block;
  margin: 0 auto;
  padding: 2rem 0 1rem;
  width: 90%;
  max-width: 10rem;
  img {
    width: 100%;
    height: auto;
  }
}


// mobile
@media screen and (max-width: 640px) {

  .vdb-header {
    height: auto;
    background: $brand;
  }

  .vdb-title {
    width: 50%;
    padding: 1rem 0;
  }
}
