.vdb-home {
  text-align: center;
  padding: 3em;
  p {
    color: $gray;
    font-weight: 300;
    line-height: 1.8;
    margin: 0;
    display: inline-block;
    position: relative;
  }
}

.vdb-home_wrap {
  animation: scaleUp 1s ease;
}

.vdb-home_title {
  color: $brand;
  font-size: 1.7em;
  font-weight: 300;
  margin: .6em 0 .2em;
  max-width: 350px;
  margin: 0 auto;
}

.vdb-home_p {
  margin: 1em 0 0;
  img, p {
    display: inline-block;
  }
  img {
    position: relative;
    top: 3px;
    left: -5px;
    width: 18px;
  }
}

.vdb-home_social {
  margin-top: 1em;
  p {
    top: -4px;
    margin-right: .5em;
    font-weight: bold;
  }
  iframe {
     border: 0;
     width: 80px;
  }
  .star {
    width: 53px;
  }
}

.vdb-home_support {
  font-size: .7em;
  text-transform: uppercase;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  animation: slideDown 1s ease;
  img {
    width: 120px;
    margin-left: 1em;
  }
  img, p {
    display: inline-block;
  }
}
