.vdb-wrap-ani {
  animation: slideDown .3s ease;
}
.vdb-wrap-table {
  padding: 1rem 0;
  display: flex;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.vdb-day-empty {
  color: $gray;
  font-weight: 300;
  font-size: 1.3em;
}

.vdb-way {
  width: 50%;
  margin: 1em 0 0 !important;
  padding: 0 20px;
  &:first-child {
    border-right: 1px solid lighten($gray-low, 7%);
  }
}


@media screen and (max-width: $s-point) {
  .vdb-way {
    width: 100%;
    border: 0 !important;
    margin: 1em 0 0;
  }
}

.vdb-way_title {
  text-align: center;
  margin: 0;
  font-size: 1.1em;
  color: $brand;
  text-transform: uppercase;
  font-weight: 300;
  span {
    position: relative;
    top: -2px;
  }
  &.going {
    .circle  {
      &:before {
        content: "";
        display: inline-block;
        border: 2px solid #aaa;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        margin: 2px 0 -1px 0;
      }
      &:after {
        content: "";
        width: 8px;
        display: inline-block;
        border-bottom: 1px solid $brand;
        margin: 0 .3em;
        position: relative;
        top: -3px;
      }
    }
    .arrow {
      &:before {
        content: "";
        width: 8px;
        display: inline-block;
        border-bottom: 1px solid $brand;
        margin: 0 .3em;
        position: relative;
        top: -3px;
      }
      &:after {
        content: "";
        display: inline-block;
        border-right: 1px solid $brand;
        border-bottom: 1px solid $brand;
        width: 8px;
        height: 8px;
        transform: rotate(-45deg);
        position: relative;
        left: -5px;
        top: 1px;
      }
    }
  }
  &.back {
    .circle  {
      &:before {
        content: "";
        width: 8px;
        display: inline-block;
        border-bottom: 1px solid $brand;
        margin: 0 .3em;
        position: relative;
        top: -3px;
      }
      &:after {
        content: "";
        display: inline-block;
        border: 2px solid #aaa;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        margin: 2px 0 -1px 0;
      }
    }
    .arrow {
      &:before {
        content: "";
        display: inline-block;
        border-left: 1px solid $brand;
        border-bottom: 1px solid $brand;
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        position: relative;
        left: 5px;
        top: 1px;
      }
      &:after {
        content: "";
        width: 8px;
        display: inline-block;
        border-bottom: 1px solid $brand;
        margin: 0 .3em;
        position: relative;
        top: -3px;
      }
    }
  }
}

.vdb-table-line {
  width: 100%;
  color: $gray;
  font-weight: 300;
  text-align: left;
  margin-top: .4rem;
}

.has-checked {
  .vdb-table-line_item:not(.vdb-hightlight) {
    color: #eee;
  }
}

.vdb-table-line_item {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid lighten($gray-low, 7%);
  width: calc(100% / 4);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: $ts;

  &.vdb-hightlight {
    // color: $brand;
  }

  &:hover {
    &:after {
      content: attr(data-legend);
      position: absolute;
      background: white;
      padding: 6px;
      z-index: 999;
      border: 1px solid $gray-low;
      line-height: 1.4;
      text-align: center;
      font-size: .7em;
      color: $brand;
      // initial state
      opacity: 0;
      width: 100%;
      top: 0;
      left: 0;
      height: 0;
      animation: .3s 1s HoverIntent ease forwards;
    }
  }


  sup {
    position: absolute;
    top: 20px;
    right: 7px;
    font-size: .7em;
    font-weight: bold;
  }
}

@keyframes HoverIntent {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    top: 100%;
    width: 150%;
    left: -25%;
    height: auto;
  }
  100% {
    opacity: 1;
    top: 100%;
    width: 150%;
    left: -25%;
    height: auto;
    transform: translateY(0);
  }
}

.vdb-legends_title {
  color: $brand;
  font-size: 1em;
  font-weight: normal;
  margin: 2em 0 0;
}
.vdb-legends {
  strong {
    font-size: .8em;
    font-weight: bold;
  }
  label {
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height: 1.6;
    color: $gray;
    margin-left: .2em;
    font-weight: 300;
  }
  input {
    margin-right: 5px;
  }
}

