.vdb-line-item-header_container {
  height: $top-height - 1rem;
  // position: relative;
}

.vdb-line-item-header {
  height: $top-height - 1rem;
  background-size: cover;
  position: relative;
  width: 100%;
  border-bottom: 1px solid transparent;
  animation: slideUp .3s ease;
  &.is-top {
    border-bottom: 1px solid $gray-low;
    position: absolute;
    height: 5.5rem;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    overflow: hidden;
    z-index: 9;
    will-change: transform;
    .vdb-line-item-header_infos:after {
      transition: $ts;
      opacity: 0;
    }
    .name, .price {
      transition: $ts;
      color: $brand;
    }
    .number {
      background: $brand;
      color: white;
      &:before {
        border-bottom: 1.5rem solid $brand;
      }
    }
  }
}


.vdb-line-item-header_infos {
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: transform;
  .fade {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    transition: $ts;
  }

  .name, .price {
    color: white;
    line-height: 1;
    font-weight: 300;
    margin: 0;
    position: relative;
    z-index: 9;
    transition: $ts;
  }

  .number {
    @include flag-number(#fff, 1rem);
    font-weight: normal;
    margin-right: 2rem;
    top: 0;
  }

  .name {
    float: left;
    font-size: 1.5em;
  }

  .price {
    float: right;
    position: relative;
    top: .5rem;
  }
}

.vdb-line-item-header_scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  background: #fff;
}

@media screen and (max-width: $s-point) {
  .vdb-wrap {
    height: calc(100% - 3.5rem);
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .vdb-line-item-header,
  .vdb-line-item-header_container {
    height: $top-height - 7rem;
    -webkit-backface-visibility: hidden;
    -webkit-will-change: transform;
    &.is-top {
      height: 2.5rem;
    }
  }
  .vdb-line-item-header_infos {
    padding: .5rem;
    .name {
      width: 70%;
    }
  }
}
