.vdb-menu {
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: left .3s ease-in;
  z-index: 999;
  &.vdb-menu-active {
    left: 0;
    transition: left .3s ease-out;
  }
}
.vdb-menu-wrap {
  padding: 1rem;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 20%;
  bottom: 0;
}

.vdb-menu-open {
  width: 30px;
  height: 20px;
  background: url(../img/menu.svg) center/cover no-repeat;
  border: 0;
  position: absolute;
  left: 1rem;
  top: 1.8rem;
  span {
    display: none;
  }
}

.vdb-menu-close {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0%;
  right: -100%;
  background: black;
  opacity: 0;
  outline: 0;
  border: 0;
  padding: 0;
  z-index: -1;
  transition: opacity .4s ease-out;
  span {
    display: none;
  }
}
.vdb-menu-active .vdb-menu-close {
  opacity: .5;
  width: 1000%;
  right: -100%;
  transition: opacity .4s ease-out;
}

.vdb-search-box  {
  margin-top: 0;
}

.vdb-line-list {
  height: auto !important;
}
