// dimensions
$top-height: 15rem;

// var color
$brand:     #249DF7;
$gray:      #727272;
$gray-low:  #E5E5E5;
$bg:        #F9F9F9;

// breackpoint
$m-point: 870px;
$s-point: 640px;

// transition
$ts: all .5s ease;
