.vdb-header {
  height: $top-height;
  position: relative;
}

.vdb-title {
  display: block;
  margin: 0 auto;
  padding: 2rem 0 1rem;
  width: 90%;
  max-width: 10rem;
  img {
    width: 100%;
    height: auto;
  }
}

.vdb-menu-action {
  display: none;
}

/**
 *
 * Search
 *
 */

.vdb-search-box {
  position: relative;
  input[type="text"] {
    width: 100%;
    height: 2.7em;
    display: block;

    border: 0;
    padding: 0 0 0 2.7em;
    background: white;
    -webkit-appearance: none;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    outline: 0;
    border-radius: .2em;

    line-height: 2.9em;
    font-size: 16px;
    color: #727272;
  }
  &:before {
    content: "";
    display: block;
    width: .9em;
    height: .9em;
    background: url(../img/search-icon.svg) center/cover no-repeat;

    position: absolute;
    left: 1em;
    top: 1em;
  }
}

.clean-search {
  position: absolute;
  color: $gray;
  text-decoration: none;
  top: 0;
  right: 0;
  display: block;
  line-height: 2.7em;
  width: 2.7em;
  text-align: center;
  display: none;
  &.show {
    display: block
  }
}


// mobile
@media screen and (max-width: $s-point) {

  .vdb-header {
    height: auto;
    background: $brand;
  }

  .vdb-title {
    width: 50%;
    padding: .7rem 0 0;
  }

  .vdb-menu-action {
    display: block;
  }
}
